.cpl-site-wrapper {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cpl-section {
  width: 100%;
  padding: 2.5em 0;
}

/*.cpl-section:nth-of-type(even) {
  background-color: #eeebfc;
}*/

.cpl-section-wrapper {
  width: 58%;
  margin: 0 auto;
}

.cpl-section-wrapper::after {
  content: '';
  display: block;
  width: 100%;
}
