.cpl-site-wrapper {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cpl-section {
  width: 100%;
}

.cpl-section-wrapper {
  width: 58%;
  margin: 0 auto;
}

.cpl-section-wrapper::after {
  content: '';
  display: block;
  width: 100%;
}
